<link rel="stylesheet" href="services.component.scss">
<div>
    <p class="services">
        Services
    </p>
</div>
<div class="content">
    <p class="text1">
        To impact the world around us through bold strategy and innovative technology. Exceptional creativity mixed with vision, marketing, and cutting edge technology is what we pour behind the bar at BrainCode. Then, we add a flame to fashion an exciting, eye-catching
        final product that makes the competitors wish they had what you’re having.
    </p>
    <img src="../../../assets/mobile-app-dev.jpg" alt="" class="img1">
    <div class="info1">
        <h1>Mobile Apps Development</h1>
        <p>
            Develop a custom application for various mobile devices such as : iOS, Android. Delivering the technical talent to build great apps and keep them running.
        </p>
        <div class="readmore">
            <a (click)="submenu('sub1')">Read More</a>
        </div>
    </div>
    <img src="../../../assets/it-solution.jpg" alt="" class="img2">
    <div class="info2">
        <h1>Information System</h1>
        <p>
            Develop a custom IT Solution for your various needs. Put the right technology solutions at the service of your business and your customers.
        </p>
        <div class="readmore">
            <a (click)="submenu('sub2')">Read More</a>
        </div>
    </div>
    <img src="../../../assets/erp.jpg" alt="" class="img3">
    <div class="info3">
        <h1>Enterprise Solution</h1>
        <p>
            Develop a solution for your company or organization ( ERP system ). Enterprise Resource Planning ( ERP ) is the integrated management of core business processes, often in real-time and mediated by software and technology.
        </p>
        <div class="readmore">
            <a (click)="submenu('sub3')">Read More</a>
        </div>
    </div>
    <img src="../../../assets/E-Commerce.jpg" alt="" class="img4">
    <div class="info4">
        <h1>Ecommerce Website</h1>
        <p>
            Develop e-commerce website to leverage your business and profit. We deliver on customer and business needs and build sites that sell.
        </p>
        <div class="readmore">
            <a (click)="submenu('sub4')">Read More</a>
        </div>
    </div>
</div>