<div class="container">
    <div class="Content">
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center bottom25px">
                    <h1 class="font-bold bottom25px">NEWS</h1>
                    <p></p>
                    <h4 style="text-align: center; font-weight: lighter 400;">Check back to see exciting latest news from BrainCode.</h4>
                    <p></p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4" style="background-color: white; padding: 15px;">
                <div class="newsContent">
                    <img src="http://www.braincodesolution.com/assets/images/data/news/2020/01/13/77/webp.net-resizeimage-3_thumb.png" alt="Avatar" style="width: 100%; height: 236px;">
                    <div class="newsContentCard" style="height: 230px;">
                        <!--p>Architect & Engineer</p-->
                        <h3 class="bottom10px" style="color: black;">Samsung Showcases \'SelfieType\' Virtual Keyboard at CES 2020</h3>
                        <!-- <p>The sophistication of the smartphone is currently proven to bring a lot of convenience for its users. But for business typing for a long time, smartphones can not be said to be comfortable because it has a small keyboard size for our large fingers, so typo also often occurs.</p> -->
                        <!-- <p>The sophistication of the smartphone is currently proven to bring a lot of convenience for its users ...</p> -->
                        <p style="color: black;">The sophistication of the smartphone is currently proven to bring a lot of convenience for its users. But for business…</p>
                        <br>
                        <a href="http://www.braincodesolution.com/news/read/samsung-showcases-selfietype-virtual-keyboard-at-ces-2020"  style="color:cornflowerblue;">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color: white;padding: 15px;">
                <div class="newsContent">
                    <img src="http://www.braincodesolution.com/assets/images/data/news/2019/12/21/76/webp.net-resizeimage-5_thumb.png" alt="Avatar" style="width: 100%; height: 236px;">
                    <div class="newsContentCard" style="height: 230px;">
                        <!--p>Architect & Engineer</p-->
                        <h3 class="bottom10px" style="color: black;">Apple, Amazon, Google partner to make smart home devices more compatible</h3>
                        <!-- <p>Amazon.com Inc, Apple Inc and Alphabet Inc\'s Google are partnering to lay the groundwork for better compatibility among their smart home products, the companies said on Wednesday.</p> -->
                        <!-- <p>Amazon.com Inc, Apple Inc and Alphabet Inc\'s Google are partnering to lay the groundwork for better ...</p> -->
                        <p style="color: black;">Amazon.com Inc, Apple Inc and Alphabet Inc\'s Google are partnering to lay the groundwork for better compatibility among their smart…</p>
                        <a href="http://www.braincodesolution.com/news/read/apple-amazon-google-partner-to-make-smart-home-devices-more-compatible"  style="color:cornflowerblue;">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="background-color: white;padding: 15px;">
                <div class="newsContent">
                    <img src="http://www.braincodesolution.com/assets/images/data/news/2019/12/21/74/webp.net-resizeimage-3_thumb.png" alt="Avatar" style="width: 100%; height: 236px;">
                    <div class="newsContentCard" style="height: 230px;">
                        <!--p>Architect & Engineer</p-->
                        <h3 class="bottom10px" style="color: black;">Xiaomi opens second headquarters as it doubles down on AI development</h3>
                        <!-- <p>Smartphone maker Xiaomi on Wednesday officially opened its second headquarters in Wuhan, the capital city of Chinas central Hubei province. The building will house 10,000 employees over the next decade as the company invests more in AI research.</p> -->
                        <!-- <p>Smartphone maker Xiaomi on Wednesday officially opened its second headquarters in Wuhan, the capital ...</p> -->
                        <p style="color: black;">Smartphone maker Xiaomi on Wednesday officially opened its second headquarters in Wuhan, the capital city of Chinas central Hubei province.…</p>
                        <a href="http://www.braincodesolution.com/news/read/xiaomi-opens-second-headquarters-as-it-doubles-down-on-ai-development" style="color:cornflowerblue;">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4" style="background-color: #212529;padding: 15px;">
                <div class="newsContent" style="height: 210px;">
                    <img src="http://www.braincodesolution.com/assets/images/data/news/2019/12/21/73/webp.net-resizeimage-2_thumb.png" alt="Avatar" style="width: 100%; height: 236px;">
                    <div class="newsContentCard">
                        <!--p>Architect & Engineer</p-->
                        <h3 class="bottom10px">'Bucin', Nadiem Makarim: Indonesias top Google searches for 2019</h3>
                        <!-- <p>Google has announced its annual Year in Search, listing countries top searches of 2019 in nine categories that include public figures, songs, word meanings, how tos and moments.</p> -->
                        <!-- <p>Google has announced its annual Year in Search, listing countries top searches of 2019 in nine categ ...</p> -->
                        <p>Google has announced its annual Year in Search, listing countries top searches of 2019 in nine categories that include public…</p>
                        <a href="http://www.braincodesolution.com/news/read/bucin-nadiem-makarim-indonesias-top-google-searches-for-2019"  style="color:cornflowerblue;">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"  style="background-color: #212529;padding: 15px;">
                <div class="newsContent">
                    <img src="http://www.braincodesolution.com/assets/images/data/news/2019/12/21/72/2news_thumb.png" alt="Avatar" style="width: 100%; height: 236px;">
                    <div class="newsContentCard" style="height: 210px;">
                        <!--p>Architect & Engineer</p-->
                        <h3 class="bottom10px" >Samsung Galaxy S10, Provide 8 new features</h3>
                        <!-- <p>Teknologi.id - Galaxy Fold, is not the only gadget awaited at the Samsung Galaxy Unpacked Event 2019. Samsung also announced the successor of the S-series, the Galaxy S10. In terms of design and technological innovation, the Galaxy S10 is the result of a breakdown from S9. This is because the Galaxy S9, which was released last year, has received a lot of criticism because it is considered not to bring a lot of innovation. Then what innovations or new features are present in the Galaxy S10?</p> -->
                        <!-- <p>Teknologi.id - Galaxy Fold, is not the only gadget awaited at the Samsung Galaxy Unpacked Event 2019 ...</p> -->
                        <p >Teknologi.id - Galaxy Fold, is not the only gadget awaited at the Samsung Galaxy Unpacked Event 2019. Samsung also announced…</p>
                        <a href="http://www.braincodesolution.com/news/read/samsung-galaxy-s10-provide-8-new-features" style="color:cornflowerblue;">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"  style="background-color: #212529;padding: 15px;">
            </div>
        </div>
    </div>
</div>

<br />
<br />
