<div class="container midContainer">
    <div class="Content3">
          <div class="row">
              <div class="col-md-12">
                  <div class="text-center bottom25px"><h1 class="font-bold bottom25px" style="font-size: 33px;">CLIENTS</h1><br>
                  <h5 class="font-bold" style="text-align: center ;">WE VALUE OUR CLIENTS</h5>
                  <h4><p style="line-height: 2.0; font-weight: lighter;">Without our clients BRAINCODE wouldn’t exist. Delivering 100% customer satisfaction rate is our main goal. We are working with leading companies and hope to add yours to our list.</p></h4>
                  </div>
              </div>
          </div><br><br>
          <br><br>

          <div class="row">
                   <div class="col-md-3">
                <div class="clientContent text-center">
                <a href="#" title="Our Client : Bank Mandiri">
                <img src="http://www.braincodesolution.com/assets/images/data/clients/logomandiri_thumb.png" alt="Our Client : Bank Mandiri" style="height: 85px;"></a>
                <!--div class="containerCard">
                    <h4><a href="http://www.braincodesolution.com/news">Bank Mandiri</a></h4>
                </div-->
                </div>
            </div>
                    <div class="col-md-3">
                <div class="clientContent text-center">
                <a href="#" title="Our Client : GAG Nikel">
                <img src="http://www.braincodesolution.com/assets/images/data/clients/logogag_nikel_thumb.png" alt="Our Client : GAG Nikel" style="height: 85px;"></a>
                <!--div class="containerCard">
                    <h4><a href="http://www.braincodesolution.com/news">GAG Nikel</a></h4>
                </div-->
                </div>
            </div>
                    <div class="col-md-3">
                <div class="clientContent text-center">
                <a href="#" title="Our Client : Indosat Ooredo">
                <img src="http://www.braincodesolution.com/assets/images/data/clients/logoindosat_thumb.png" alt="Our Client : Indosat Ooredo" style="height: 95px;"></a>
                <!--div class="containerCard">
                    <h4><a href="http://www.braincodesolution.com/news">Indosat Ooredo</a></h4>
                </div-->
                </div>
            </div>
                    <div class="col-md-3">
                <div class="clientContent text-center">
                <a href="#" title="Our Client : Telkomsel">
                <img src="http://www.braincodesolution.com/assets/images/data/clients/logotelkomsel_thumb.png" alt="Our Client : Telkomsel" style="height: 100px;"></a>
                <!--div class="containerCard">
                    <h4><a href="http://www.braincodesolution.com/news">Telkomsel</a></h4>
                </div-->
                </div>
            </div>
                    </div>
        </div>
    </div>