<link rel="stylesheet" href="gagnikel.component.scss">
<div>
    <p class="about">
        Mobile Apps Development
    </p>
</div>
<div class="content">
    <img class="img" src="../../assets/submainimg/Gag Nikel E Procurement(2).png" alt="">
    <h2>Background</h2>
    <p>
        GAG Nikel E-Procurement and Purchase is another example project that we also have capability to handle ERP system. It helps GAG Nikel employee to manage vendor management system, It helps procurement staff to create order, buy things and view inventory
        from their data. This App will also help procurement staff provide availability of logistic stock for other GAG Nikel staff.
    </p>
    <h2>Objective</h2>
    <p>
        To achieve services, optimization, and efforts to improve ICT implementation better, then one example of the best step is to improve and optimize network infrastructure. Network infrastructure development is not impossible, it can even be done regularly.
        Therefore, the procurement process has not been recorded at PT. Nikel GAG requires companies to implement an online procurement system (E-Procurement) and structured according to the required procurement system
    </p>
    <img class="img" src="../../assets/submainimg/eproc.png" alt="">
    <p>A large-scale company must be wiser in handling procurement problems to a company's needs, both food and infrastructure needs, in order to avoid undesirable things such as KKN, and other negligence. Therefore, the best aspects for the company from
        running this application are as follows:</p>
    <li>Provides dashboard visualization with Monitoring All over Indonesia This dashboard is based on an auto-discovery algorithm that supports rooting</li>
    <li>router technology that experiences link-downs and other routers.</li>
    <li>Provides Alarm Data Presentation for all core / back-bone routers with a fifth of a five minute granularity</li>
    <img class="img" src="../../assets/submainimg/eproc2(5).png" alt="">
    <p>
        As a mobile Application, GAG e-Procurement need the transactional data. Here we describe some basic data transactions that occur on GAG e-Procurement Applications :
    </p>
    <img class="img" src="../../assets/submainimg/Image 3.png" alt="">
</div>