<link rel="stylesheet" href="sub2.component.scss">
<div>
    <p class="about">
        Information System
    </p>
</div>
<div class="content">
    <img class="img" src="../../../../assets/it-solution.jpg" alt="">
    <h2>How technology drives business in the digital era</h2>
    <p>
        Once upon a time, your tech stack was a problem for tech people. But in a digital world, technology strategy is inseparable from business strategy.<br><br> Digital leaders rely on technology platforms to enable collaboration, agility, and a customer-first
        mindset. Technology expertise matters more than ever, but making the right tech choices is now a whole-of-business concern.<br><br> BrainCode excels at smartly architecting and swiftly developing experience solutions. Deploying a proprietary framework,
        our solutions architects define and create optimal solutions, with an unshakeable focus on business efficiency, user experience and business need.
    </p>
</div>