<link rel="stylesheet" href="geisaindex.component.scss">
<div>
    <p class="about">
        Mobile Apps Development
    </p>
</div>
<div class="content">
    <img class="img" src="../../assets/submainimg/GeISA(1).png" alt="">
    <h2>Background</h2>
    <p>
        Geospecific Network Information for Spatial Analytic (GeISA) is an integrated web application for reporting, visualizing, and monitoring KPI achievement for Network Directorate in Telkomsel. Current project has been successfully delivering valuable information
        to support monitoring of Network KPI achievement. Based on further review and evaluation of this application, there are several capabilities that should be embedded to this application.
    </p>
    <h2>Objective</h2>
    <p>
        GeISA is now used by many entities in Telkomsel, with main Objective such as :
    </p>
    <li>strategic purposes from Planning and Implementation</li>
    <li>Network Performance Enhancement/Monitoring,</li>
    <li>To help Sales/Marketing strategic decision and also Business Performance Monitoring.</li>
    <img class="img" src="../../assets/submainimg/image(24).png" alt="">
    <p>
        As an integrated web application for reporting, visualizing, and monitoring KPI achievement for network directorate in Telkomsel. There are 5 Main Features on GeISA
    </p>
    <li>Review, This feature present the Location of All Company asset on Spatial Location periodically also monitor All KPI on each asset Location</li>
    <li>Filtering, Allowed user to make further data presentation in the Grouping Analysis scheme.</li>
    <li>Thematics, Thematic analysis menu is an advanced menu that can be used after specifying parameters in the Review menu, it can determine network conditions in the specified color scheme theme.</li>
    <li>Map Editor, This Feature make user to draw their POI (Point of Interest) for their own business and . This can used colaboratively, or personally.</li>
    <li>Costumer Analysis, This Feature are show Costumer for Company in related Company asset in spatial Location. </li>
    <img class="img" src="../../assets/submainimg/image(23).png" alt="">

    <p>
        Data source of GeISA is consist of 5 important elements such as Network OSS for network traffic, utililzation, and performance, Teradata for revenue, Lacima for BTS coordinates, Planet for BTS beamwidth and azimuth, Bakosurtanal for border map in any
        geographical levels, and Marketing data for recharge share and sales share. Those whole data are compiled using cron job with ETL process and stored in the database automatically. Finally, all necessary information from database are presented
        in both map-based application and dashboard one.
    </p>
    <img class="img" src="../../assets/submainimg/image(33).png" alt="">
</div>