<div class="container midContainer">
  <div class="content3">
    <div class="row">
      <div class="col-md-12">
         <div class="text-center bottom15px"><h1 class="font-bold bottom25px">Apple, Amazon, Google partner to make smart home devices more compatible</h1></div>
      </div>
    </div>
    <div class="row  bottom25px" style="background-color:#fff;padding-top:20px;">
      <div class="col-md-12 desktop-padding" style="padding: 15px 25px 15px 25px;">
        <div class="career-description bottom25px" style="color: black;">
            <img class="img-responsive" src="../../../../assets/2.png" alt="Apple, Amazon, Google partner to make smart home devices more compatible" style="padding-bottom: 25px;">
            <p></p><p>Amazon.com Inc, Apple Inc and Alphabet Inc's Google are partnering to lay the groundwork for better compatibility among their smart home products, the companies said on Wednesday.</p><p>Zigbee Alliance, whose members include IKEA and NXP Semiconductors among others, will also contribute to the project, titled "Connected Home over IP".</p><p>The group aims to make it easier for device manufacturers to build products that are compatible with smart home and voice services such as Alexa, Siri and Google Assistant.</p><p>Amazon had launched a similar initiative earlier this year that allows users to access Alexa, Microsoft Corp's Cortana and multiple other voice-controlled virtual assistant services from a single device.&nbsp;</p><p><em>Source by :&nbsp;</em><em>www.thejakartapost.com</em></p><p></p>
        </div>
      </div>
    </div>
  </div>
</div>
