<link rel="stylesheet" href="gagnikel.component.scss">

<br>
<div class="row">
  <div class="col-md-12">
      <div class="text-center bottom15px"><h1 class="font-bold bottom25px">GAG NIKEL E-PROCUREMENT</h1></div>
  </div>
</div>
<br>

<div class="row  bottom25px" style="background-color:#fff;padding-top:20px;">
<div class="col-md-12 desktop-padding" style="padding:0px 60px 15px 60px;">
  <div class="career-description bottom25px">
    <p><img src="../../../assets/submainimg/Gag Nikel E Procurement(2).png" style="height:299px; margin-left:300px; margin-right:300px; width:594px"></p>
    <h2><strong>Background</strong></h2>

    <p>GAG Nikel E-Procurement and Purchase is another example project that we also have capability to handle ERP system. It helps GAG Nikel employee to manage vendor management system,&nbsp;
      It helps procurement staff to create order, buy things and view inventory from their data. This App will also help procurement staff provide availability of logistic stock for other GAG Nikel staff.&nbsp;</p>

    <p><img alt="" src="../../../assets/submainimg/gagnikel1.png" style="height:320px; margin:10px 390px; width:264px"></p>
    <h2><strong>Objective</strong></h2>

    <p>To achieve services, optimization, and efforts to improve ICT implementation better, then one example of the best step is to improve and optimize network infrastructure. Network infrastructure development is not impossible, it can even be done regularly. Therefore, the procurement process has not been recorded at PT. Nikel&nbsp;GAG requires companies to implement an online procurement system (E-Procurement) and structured according to the required procurement system</p>
    <p><img src="../../../assets/submainimg/eproc.png" style="height:299px;margin-left:250px;margin-right:250px;width:594px;"></p>
    <p>A large-scale company must be wiser in handling procurement problems to a company's needs, both food and infrastructure needs, in order to avoid undesirable things such as KKN, and other negligence. Therefore, the best aspects for the company from running this application are as follows:<br>1) Increase the value (value / quality) of the company<br>2) Facilitating the procurement process<br>3) Make data transparency so that it can be neater not to happen data redundancy</p>
    <p>&nbsp;</p>

    <p><img src="../../../assets/submainimg/eproc2(5).png" style="height:299px; margin-left:250px; margin-right:250px; width:594px"></p>
    <p>&nbsp;</p>

    <p>As a mobile Application, GAG e-Procurement need&nbsp;the transactional data. Here we describe some basic data transactions that occur on GAG e-Procurement Applications :</p>
    <p><img src="../../../assets/submainimg/Image 3.png" style="height:355px; margin-left:150px; margin-right:150px; width:900px"></p>

  </div>
</div>
</div>
