<div [class]="'theme-wrapper ' + (theme$ | async)">

    <mat-sidenav-container>

        <mat-sidenav #sidenav mode="push">
            <div class="branding"><img [src]="logo" [alt]="logo" />
                <span>Braincode Solution</span></div>
            <mat-nav-list>
                <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label | translate}}
        </a>

            </mat-nav-list>
        </mat-sidenav>

        <div class="wrapper">

            <div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">
                <mat-toolbar color="primary">
                    <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>

          </button>

                    <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo" [alt]="logo"/></span>
                    <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" [alt]="logo"/>
          Braincode Solution</span>
                    <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo"[alt]="logo" />
            Braincode Solution</span>

                    <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{item.label}}
            </button>
          </span>

                    <!-- <button mat-button mat-stroked-button color="accent" *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
            {{ 'anms.menu.login' | translate }}
          </button> -->

                    <!-- <button *ngIf="(isAuthenticated$ | async)"
                  mat-icon-button
                  [matMenuTriggerFor]="toolbarUserMenu">
            <fa-icon icon="user-circle"></fa-icon>
          </button>
          <mat-menu #toolbarUserMenu="matMenu">
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon><fa-icon icon="power-off"></fa-icon></mat-icon>
              <span>{{ 'anms.menu.logout' | translate }}</span>
            </button>
          </mat-menu> -->

                    <!-- <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
            <fa-icon icon="cog"></fa-icon>
          </button> -->

                    <!-- <a [matTooltip]="'anms.header.github' | translate"
             matTooltipPosition="before"
             mat-icon-button
             class="link d-none d-sm-inline"
             target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab','github']"></fa-icon>
          </a>

          <span *ngIf="language$ | async as language">
            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
              <mat-option *ngFor="let l of languages" [value]="l">
                {{ l.toUpperCase() }}
              </mat-option>
            </mat-select>
          </span> -->
                </mat-toolbar>
            </div>

            <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
                <router-outlet #o="outlet"></router-outlet>
            </div>

            <section id="footer" style="background-color:#bd2124; padding-top: 40px;">
                <div class="container text-white">
                    <div class="row text-left">
                        <div class="col-md-4">
                            <h3><b>PT Braincode Solution</b></h3>
                            <p>
                                Prince Centre Building, 5th Floor Suite 503, <br> JL. Jenderal Sudirman, Kavling 3-4, <br> Karet Jakarta Selatan <br> Daerah Khusus Ibukota Jakarta 10220
                            </p>
                            <a href="#" style="color: white;"><i class="fa fa-phone" style="color: white;"></i>  021 5737326</a> <br>
                            <a href="#" style="color: white;"><i class="fa fa-envelope" style="color: white;"></i> info@braincodesolution.com</a>
                            <h4><br><b><a href="https://goo.gl/maps/mBkxUbqSi2gqEf9f7" target="_blank" style="font-size:25px; color : white;">Get Direction &nbsp;<i class="fa fa-arrow-circle-right"></i></a></b></h4>

                        </div>
                        <div class="col-md-3 col-md-offset-1 " style="float:left;">
                            <h3 class="midlle"><b>Keep in touch</b></h3>
                            <ul class="list-unstyled quick-links">
                                <li><a href="#"><i class="fa fa-facebook" style="color: white;"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter" style="color: white;"></i> </a></li>
                                <li><a href="#"><i class="fa fa-instagram" style="color: white;"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin" style="color: white;"></i> </a></li>
                            </ul>

                        </div>
                        <div class="col-md-4">
                            <h3><b>Let's Discuss What's Next</b></h3>
                            <p>Have a project or a question?
                                <br>We'd love to hear from you.
                            </p>
                            <h4><br><b><a href="http://www.braincodesolution.com/contact" style="font-size:25px; color : white;">Contact Us &nbsp;<i class="fa fa-arrow-circle-right"></i></a></b></h4>
                        </div>
                    </div>

                    <div id="footer2">
                        <div class="container text-white">
                            <ul class="left">
                                <li><a href="#" style="color: white;">© 2021 BrainCode Solution. All rights reserved.</a></li>
                            </ul>

                            <ul class="right text-white" style="font-size: 13px;">
                                <li><a href="#" style="color: white;">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </mat-sidenav-container>

</div>
