<link rel="stylesheet" href="nms.component.scss">
<div>
    <p class="about">
        Mobile Apps Development
    </p>
</div>
<div class="content">
    <img class="img" src="../../assets/submainimg/nms ip backbone.png" alt="">
    <h2>Background</h2>
    <p>
        Network monitoring in terms of routers if a link-down occurs on a router, there will be a notification from the dashboard of IPBB that the linkdown condition and notify the cause and other routers affected by the core router. Then, displaying the top
        10 high utilization routers from all over Indonesia
    </p>
    <h2>Objective</h2>
    <p>
        In this Project the Main Objectives that needs by Telkomsel Directorate. Such as
    </p>
    <li>Provides dashboard visualization with Monitoring All over Indonesia This dashboard is based on an auto-discovery algorithm that supports rooting</li>
    <li>router technology that experiences link-downs and other routers.</li>
    <li>Provides Alarm Data Presentation for all core / back-bone routers with a fifth of a five minute granularity</li>
    <img class="img" src="../../assets/submainimg/image(33).png" alt="">
    <p>
        Impact of the Dashboard to monitor utilization, link down, router performance and export data. This shows all backbone routers in all of Indonesia.
    </p>
    <img class="img" src="../../assets/submainimg/image(34).png" alt="">
</div>